@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-family: "Architects Daughter";
  --font-family-header: "Gagalin";
    overflow: auto !important;
}

@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap");

@font-face {
  font-family: Gagalin;
  src: url("/assets/fonts/gagalin.ttf") format("truetype");
}
@font-face {
  font-family: Gagalin;
  font-weight: bold;
  src: url("/assets/fonts/gagalin.ttf") format("truetype");
}

.gagalin {
  font-family: Gagalin;
}

h1,
h2,
h3,
h4,
h5, h6 {
  font-family: Gagalin !important;
}

.remark h1, h2, h3, h4, h5 {
  @apply my-2 text-4xl font-bold text-center text-wgray-600 dark:text-wgray-500;
}

.remark h2 {
  @apply text-xl text-center;
}

.remark h3 {
  @apply text-lg;
}

p {
  @apply my-2 text-base subpixel-antialiased leading-loose break-words;
}

p img {
  @apply md:float-right w-72 md:w-96;
}

ul {
  @apply mt-3 ml-3 text-base list-disc;
}

ol {
  @apply mt-3 ml-3 text-base list-decimal;
}

p a {
  @apply text-rose-400 hover:underline;
}

body {
  width: 100%;
  font-family: "Architects Daughter";
  /* font-size: 1.3rem; */
}

.parallax-height {
  min-height: 400px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.parallax-1 {
  background-image: url("/assets/bg/p1.png");
  /* Create the parallax scrolling effect */
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

 .bg-img {
  background-image: url('/assets/collection/design/my_design.png') !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
 }


.parallax-2 {
  background-image: url("/assets/bg/p2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-3 {
  background-image: url("/assets/bg/p3.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-momo-blog {
  background-image: url("/assets/bg/p3.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-footer {
  background-image: url("/assets/bg/pf.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
}

.h-gap {
  min-height: 30vh;
}

.blog-momo {
  padding-top: 1em;
  background-image: url("/assets/blog/momo_my_best_friend/4_momo_pic.png");
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  background-size: 50%;
}

